/* PAGE LAYOUT CRAP HERE */

body
{
  background-color: #686767;
  margin: 0px;
  text-align: center;
  
  scrollbar-face-color: #333333;
  scrollbar-arrow-color: #990000;
  scrollbar-track-color: white;
  scrollbar-shadow-color: white;
  scrollbar-highlight-color: white;
  scrollbar-3dlight-color: white;
  scrollbar-darkshadow-Color: white;
  
  background-image:url(http://cs411.beoba.net/ACLPS/UI/Themes/Images/boston-background.jpg);
/*  background-repeat:no-repeat; */
  background-attachment:fixed;
  background-position: 0px 50px;

}
A
{
  color: #990000;
  text-decoration: none;
}
A:hover
{
  LEFT: 1px;
  POSITION: relative;
  TOP: 1px;
  COLOR: red;
}
#controlbarimg
{ 
  margin: 1px 2px 1px 2px;
  border-width: 0;
  vertical-align: middle;
}

#floatclear
{
  clear: both;
}

#topbar
{
  background-color: #EEEEEE;
  border-bottom: 1px solid #666666;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
}
#topbar a
{
  margin-left: 4px;
  font-weight: bold;
}
#topbar img
{
  filter:chroma(color: dbeaed);
}
#headerimage
{
  text-align: center;
  margin: 20px;
}
#blogheaderimg
{ 
  border: 0;
}
#footerimage
{
  text-align: center;
  margin: 20px;
}
#blogfooterimg
{ 
  border: 0;
}
#container
{
  width: 770px;
  margin: 0 auto 0 auto;
  padding: 0;
  margin: 20px;
  color: white;
}
#content
{
  width: 520px;
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #000000;
  border: 1px solid #666666;
  padding: 5px;
  margin-bottom: 20px;
  color: white;
}
#sidecontent
{
  text-align: center;
  width: 230px;  
  float: right;
  margin: 0px 0px 20px 10px;
}

#abouttext
{
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #EEEEEE;
  margin-bottom: 15px;
  border: 2px dotted #990000;
  padding: 5px;
  color: black;
}

/* CALENDAR CRAP HERE */

#calendar_table
{
  width: 230px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  background-color: #600000;
  color: white;
  margin-bottom: 15px;
  border: 5px solid #666666;
  padding: 2px;

}

#calendar_table td
{ 
  padding: 2px;
  border: 3px solid black;
}

tr#calendar_week_row
{
  font-weight: bold;
  background-color: #DDDDDD;
}

#calendar_month_year
{
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 4px;
}
#calendar_month_year a
{
  color:
}
#calendar_week
{
  color: #333333;
}

#calendar_today
{
  font-weight: bold;
  color: red;
}
#calendar_today a
{

}
#calendar_posts a
{

}

/* BLOG CRAP HERE */

#blogcontrols
{ 
  text-align: left;
  background-color: #DDDDDD;
  border: 1px solid #BBBBBB;
  margin: 5px;
  margin-top: 10px;
}
#blogcontrols a
{ 
  margin-left: 4px;
  font-size: 12px;
}
#blogcontrols img
{
  filter:chroma(color: d4e6ea);
}

/* POST CRAP HERE */

#post
{
  margin: 5px;
  border: 1px solid #6d0000;
  border-bottom: 2px solid #6d0000;
}
#postcontrols
{ 
  text-align: left;
  background-color: #6d0000;
  border-bottom: 1px solid #CCCCCC;
}
#postcontrols a
{ 
  margin-left: 4px;
  font-size: 11px;
}
#posttitle
{
  text-align: left;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 0px 0px 2px;
  background: #6d0000;
  border-bottom: 2px dotted #000000;
  border-top: 2px dotted #000000;
}
#posttitle a
{

}

#postauthor
{
  text-align: left;
  color: #808080;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#posttime
{
  text-align: left;
  color: #808080;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#postcontent
{ 
  text-align: left;
  padding: 7px 5px 5px 5px;
  color: #FFFFFF;
  background-color: #2a0000;
}
#postcommentlink
{ 
  font-size: 11px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: right;
}
#postcommentlink a
{ 

}

/*COMMENT CRAP HERE*/

#commentlabel
{ 
  text-align: left;
  padding: 10px 5px 7px 5px;
  font-size: 14px;
  color: white;
}

#comment
{ 
  margin-top: 5px;
  border: 1px solid #990000;
}
#commentcontrols
{ 
  text-align: left;
  background-color: black;
  border-bottom: 1px solid #990000;
}
#commentcontrols a
{
  margin-left: 4px;
  font-size: 11px;
}
#commenttitle
{
  text-align: left;
  font-family: serif;
  color:black;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
  background: #E5E5E5;
  border-bottom: 2px dotted #990000;
  border-top: 2px dotted #990000;
}
#commentauthor
{
  text-align: left;
  color: #808080;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#commenttime
{
  text-align: left;
  color: #808080;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#commentcontent
{ 
  text-align: left;
  clear: left;
  padding: 7px 5px 5px 5px;
  background-color: #2a0000;
}

/* FORM CRAP HERE */

fieldset
{
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #990000;
  color: #990000;
}
fieldset a
{ 

}
legend
{
  font-size: 12px;
  font-weight: bold;
  color:#990000;
}

label
{
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
}

table#formtable
{
  font-weight: normal;
  margin: 0 auto 0 auto;
  font-size: 12px;
  color:white;
}

input, textarea, select
{
  background-color: #ffffff;
  padding: 2px;
  margin: 2px;
  border: 2px dotted #990000;
  font-weight: normal;
  font-size: 12px;
  font-family: sans-serif;
  color: black;
}
