body
{
        background-color: #404040;
        margin: 0px;
}

#floatclear
{
        clear: both
}

#topbar
{
        width: 100%;
        background-color: aliceblue;
        font-size: medium;        
}

#image
{
        width: 800px;
}

#container
{
        width: 800px;
        margin: auto;
        color: white;
}

#content
{
        float: left;
        width: 500px;
        margin: 0px;
}

#sidecontent
{
	float: right;
        margin-right: auto;
        margin: 0px;
	text-align: center;
}

#contentbox
{
        width: 450px;
        margin: 10px 0px;
        text-align: left;
}

#calendar_month_year
{
    text-align: center;
    color: green;
}

#calendar_week
{
    color: yellow;
    text-decoration: underline;
}

#calendar_today
{
    color: red;
}

#calendar_number
{
    color: white;
}

#headerimage, #footerimage
{
    text-align: center;
    margin: 20px;
}

#abouttext
{
    text-align: left;
    padding: 10px;
}
