body
{
	background-color: #FFFFFF;
	margin: 0px;
}

#floatclear
{
	clear: both
}

#topbar
{
	width: 100%;
	background-color: aliceblue;
	margin-bottom: 50px;

	font-size: medium;
	
}

#image
{
	width: 800px;
	margin: 20px auto;
}

#container
{
	width: 800px;
	margin: 20px auto;
	color: black;
	border: 1px solid black; 
}

#content
{
	float: left;
	width: 500px;
	margin: 0px;
	border: 1px solid green;
}

#sidecontent
{
	margin-left: 500px;
	margin: 0px;
	border: 1px solid red;
}

#contentbox
{
	width: 450px;
	margin: 10px 0px;
	text-align: left;
	border: 1px solid black;
}

#sidecontentbox
{
	width: 250px;
	text-align: left;
	border: 1px solid black;
}

#calendar_month_year
{
    color: green;
}

#calendar_week
{
    color: yellow;
    text-decoration:underline;
}

#calendar_today
{
    color: red;
}

#calendar_number
{
    color: black;
}

#calendar_posts
{
    color: blue;
}
