/* PAGE LAYOUT CRAP HERE */

body
{
  background-color: #001100;
  margin: 0px;
  text-align: center;
}

#controlbarimg
{ 
  display: none;
}

#floatclear
{
  clear: both;
}

#topbar
{
  background-color: #003300;
  border-bottom: 1px solid #00FF00;
  font-family: monospace;
  font-size: 14px;
  text-align: left;
  padding: 5px;
}
#topbar a
{
  margin-left: 6px;
  color: #00FF00;
  font-weight: bold;
}

#headerimage
{
  text-align: center;
  margin: 20px;
}
#blogheaderimg
{ 
  border: 0;
}
#footerimage
{
  text-align: center;
  margin-bottom: 20px;
}
#blogfooterimg
{ 
  border: 0;
}

#container
{
  width: 770px;
  margin: 0 auto 0 auto;
  padding: 0;
}

#content
{
  width: 510px;
  float: right;
  font-family: monospace;
  font-size: 14px;
  background-color: #002200;
  border: 1px solid #00FF00;
  padding: 5px;
  margin-bottom: 20px;
}

#sidecontent
{
  text-align: center;
  width: 230px;  
  float: left;
  margin: 0px 10px 20px 0px;
}

#abouttext
{
  color: #00CC00;
  text-align: left;
  font-family: monospace;
  font-size: 12px;
  background-color: #002200;
  margin-bottom: 15px;
  border: 1px solid #00FF00;
  padding: 5px;
}

/* CALENDAR CRAP HERE */
#calendar_table
{
  width: 230px;
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  background-color: #002200;
  margin-bottom: 15px;
  border: 1px solid #00FF00;
  padding: 0px;
}

#calendar_table td
{ 
  color: #00CC00;
  padding: 2px;
}

#calendar_month_year
{
  color: #00CC00;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 4px;
}
#calendar_month_year a
{ 
  text-decoration: none;
  color: #00FF00;
}

tr#calendar_week_row
{ 
  background-color: #003300;
}

#calendar_week
{
  font-weight: bold;
  color: #00FF00;
}

#calendar_today
{
  font-weight: bold;
  text-decoration: underline;
}

#calendar_posts a,#calendar_today a
{
  color: #00FF00;
  text-decoration: none;
}

/* BLOG CRAP HERE */

#blogcontrols
{ 
  padding: 2px;
  text-align: left;
  background-color: #003300;
  border: 1px solid #00FF00;
}

#blogcontrols a
{ 
  margin-left: 5px;
  color: #00FF00;
  font-size: 12px;
}

/* POST CRAP HERE */

#post
{ 
  margin-top: 5px;
  border: 1px solid #00FF00;
}

#postcontrols
{ 
  padding: 2px;
  text-align: left;
  background-color: #004400;
  border-bottom: 1px solid #00FF00;
}
#postcontrols a
{ 
  margin-left: 5px;
  color: #00FF00;
  font-size: 11px;
}
#posttitle
{
  color: #00FF00;
  text-align: left;
  font-family: monospace;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0px 0px 5px;
  background: #003300;
  border-bottom: 1px solid #00CC00
}
#posttitle a
{ 
  text-decoration: none;
  color: #00FF00;
}
#postauthor
{
  text-align: left;
  color: #00AA00;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#posttime
{
  text-align: left;
  color: #00AA00;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#postcontent
{ 
  color: #00FF00;
  text-align: left;
  padding: 7px 5px 5px 5px;
}
#postcontent a
{ 
  color: #00FF00;
}
#postcommentlink
{
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}
#postcommentlink a
{ 
  color: #00FF00;
  font-size: 11px;
}

/*COMMENT CRAP HERE*/

#commentlabel
{ 
  display: none;
}
#comment
{ 
  margin-top: 5px;
  border: 1px solid #00FF00;
}
#commentcontrols
{ 
  padding: 2px;
  text-align: left;
  background-color: #004400;
  border-bottom: 1px solid #00FF00;
}
#commentcontrols a
{
  margin-left: 5px;
  color: #00FF00;
  font-size: 11px;
}
#commenttitle
{
  color: #00FF00;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0px 5px 5px;
  background: #003300;
  border-bottom: 1px solid #00FF00
}
#commentauthor
{
  text-align: left;
  color: #00AA00;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#commenttime
{
  text-align: left;
  color: #00AA00;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}
#commentcontent
{ 
  color: #00FF00;
  text-align: left;
  clear: left;
  padding: 7px 5px 5px 5px;
}

/* FORM CRAP HERE */

fieldset
{
  color: #00FF00;
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #00CC00;
}
fieldset a
{ 
  color: #00FF00;
}
legend
{
  color: #00FF00;
  font-size: 12px;
  font-weight: bold;
}

label
{
  font-weight: normal;
  font-size: 12px;
  padding: 2px;
}

table#formtable
{
  color: #00FF00;
  font-weight: bold;
  margin: 0 auto 0 auto;
  font-size: 12px;
}

input, textarea, select
{
  color: #00FF00;
  background-color: #001100;
  padding: 2px;
  margin: 2px;
  border: #00FF00 1px solid;
  font-weight: normal;
  font-size: 12px;
  font-family: monospace;
}

/* DASHBOARD STUFF */

#dashboardcollection
{
  margin-top: 5px;
  border: 1px solid #00FF00;
}

#dashboardcollectionheader
{ 
  padding: 2px 0px 2px 4px;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  color: #00EE00;
  background-color: #004400;
}

#dashboardelement_title
{
  color: #00EE00;
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 0px 2px 5px;
  background-color: #003300;
  border-top: 1px solid #00FF00;
  border-bottom: 1px solid #00CC00;
}
#dashboardelement_title a
{ 
  text-decoration: none;
  color: #00FF00;
}

#dashboardelement_subtitle
{
  text-align: left;
  color: #00AA00;
  margin-left: 10px;
  padding-top:3px;
  font-size: 11px;
}

#dashboardelement_controls
{ 
  padding: 2px 5px 2px 2px;
  text-align: right;
  color: #00AA00;
}
#dashboardelement_controls a
{ 
  font-size: 12px;
  text-decoration: none;
  color: #00FF00;
}
